html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100%;
  background-color: #0068ad;
}

.TopBar {
  background-color: #3d92c7;
  max-height: 50px;
  font-size: x-large;
  margin: 0;
  padding: 0.5%;
  display: flex;
}

.TopBar .LeftPart {
  text-align: left;
  width: 25%;
  height: 50px;
  color: transparent;
}

.TopBar .CentralPart {
  text-align: center;
  width: 50%;
  height: 50px;
}

.TopBar .RightPart {
  text-align: right;
  width: 25%;
  height: 50px;
}

.CentralPart .SiteName {
  width: 100%;
  padding: 10px;
  vertical-align: middle;
}

.RightPart #SettingsButt {
  display: inline-block;
  aspect-ratio: 1;
  height: 50px;
  background-color: transparent;
  border: none;
  padding: 0;
}

#SettingsButt img {
  height: 100%
}

.MainPart {
  background-color: #0068ad;
  display: inline-block;
  width: 100%;
  min-height: calc(100% - 100px);
  max-height: calc(100% - 50px);
  height: calc(100% - 50px);
  margin: 0;
}

.ErrorBar {
  background-color: red;
  max-height: 50px;
  margin: 0;
  padding: 15px 0;
}

.ErrorBar p {
  height: 20px;
  margin: 0;
}

.MainPart .MainPage {
  background-color: #0068ad;
  height: 100%;
}

.textArea {
  width: 40%;
  height: 30%;
  margin: 2% 4%;
  border-radius: 10px;
  border-style: solid;
  resize: none;
  background-color: #b3cde0;
  font-size: x-large;
}

.textAreaInactive {
  width: 40%;
  height: 30%;
  margin: 2% 4%;
  border-radius: 10px;
  border-style: solid;
  resize: none;
  background-color: gray;
  font-size: x-large;
}

.InLenLabel {
  background-color: transparent;
  color: black;
}

.InLenLabelCrit {
  background-color: transparent;
  color: red;
}

#outputArea {
  cursor: default;
}

.LangSelector {
  background-color: #b3cde0;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  width: 20%;
  margin: 1% 15%;
  cursor: pointer;
}

.sendButt {
  padding: 5px 10px;
  margin: 1%;
  border-radius: 10px;
  background-color: #b3cde0;
}

.sendButt:hover {
  cursor: pointer;
  background-color: #bdd7e9;
}

.sendButt:active {
  cursor: pointer;
  background-color: #022559;
  color: white;
}

.sendButtInactive {
  padding: 5px 10px;
  margin: 1%;
  border-radius: 10px;
  background-color: crimson;
  color: white;
}

.MainPart .SettingsPage {
  background-color: #0068ad;
  margin: 0;
}

.SettingsPage .SettingsArea {
  padding: 2% 5%;
  text-align: left;
}

.SettingsArea .SectionHeader {
  font-size: x-large;
  font-weight: 500;
  text-align: left;
  margin: 1% 0;
}

.SettingsArea .SectionSubHeader {
  font-size: large;
  text-align: left;
  margin: 1% 0;
}

.SettingsArea .InputField {
  background-color: #b3cde0;
  width: 35%;
  height: 20px;
  font-size: larger;
  border-radius: 8px;
  padding: 5px;
  margin: 10px 50% 10px 0;
  resize: none;
}

.SettingsPage .LangPrefSelector {
  background-color: #b3cde0;
  width: 20%;
  height: 34px;
  border-radius: 8px;
  margin: 0;
  cursor: pointer;
}

.SettingsPage .SaveArea {
  width: 100%;
  text-align: center;
  background-color: #0068ad;
  padding: 1% 0;
}

.SaveArea .SaveButton {
  width: 10%;
  padding: 5px 0;
  font-size: large;
  background-color: #b3cde0;
  border-radius: 10px;
}

.SaveArea .SaveButton:hover {
  background-color: #bdd7e9;
  cursor: pointer;
}

.SaveArea .SaveButton:active {
  background-color: #022559;
  color: white;
}

@media (max-width: 1080px) {
  .MainPart {
    min-height: calc(101.5% - 50px);
    max-height: 101.5%;
    height: 101.5%;
  }

  .LangSelector {
    width: 30%;
    height: 3.5%;
    margin: 3% 10% 1%;
  }

  .textArea {
    width: 80%;
    height: 20%;
    margin: 3% 9% 3%;
  }

  .textAreaInactive {
    width: 80%;
    height: 20%;
    margin: 3% 9% 3%;
  }

  .InLenLabel {
    font-size: large;
  }

  .InLenLabelCrit {
    font-size: large;
  }

  .sendButt {
    width: 30%;
    height: 5%;
    margin: 53% 0 10% 0;
    font-size: large;
  }

  .sendButtInactive {
    width: 25%;
    height: 5%;
    margin: 53% 0 10% 0;
    font-size: large;
  }

  .SettingsArea .SectionHeader {
    margin: 2% 0;
  }

  .SettingsArea .SectionSubHeader {
    margin: 2% 10px;
  }

  .SettingsArea .InputField {
    width: 50%;
    margin: 5px 0 5px 20px;
  }

  .SettingsArea .LangPrefSelector {
    width: 45%;
    margin-left: 20px;
  }

  .SaveArea .SaveButton {
    width: 25%;
    margin-top: 45%;
    margin-bottom: 10%;
    padding: 3px 0;
  }
}