.App {
  text-align: center;
}

.TopBar {
  background-color: #4CAF50;
  max-height: 10%;
  font-size: x-large;
  margin: 0;
  padding: 0.5%;
}

.TopBar p {
  margin: 0;
}

#SettingsButt {
  aspect-ratio: 1;
  height: 50%;
  background-color: transparent;
  border: none;
}

.MainPart {
  background-color: blue;
  height: 90%;
  margin: 0;
}

.MainPart .MainPage {
  height: 100%;
}

.textArea {
  width: 40%;
  height: 30%;
  margin: 2% 4%;
  border-radius: 10px;
  resize: none;
  background-color: lightgray;
  font-size: x-large;
}

.textAreaInactive {
  width: 40%;
  height: 30%;
  margin: 2% 4%;
  border-radius: 10px;
  resize: none;
  background-color: gray;
  font-size: x-large;
}

#outputArea {
  cursor: default;
}

.LangSelector {
  width: 20%;
  margin: 1% 15%;
  cursor: pointer;
}

.sendButt {
  padding: 5px 10px;
  margin: 1%;
  border-radius: 10px;
  background-color: aqua;
  cursor: pointer;
}

.sendButtInactive {
  padding: 5px 10px;
  margin: 1%;
  border-radius: 10px;
  background-color: crimson;
  color: white;
}

.MainPart .SettingsPage {
  background-color: chocolate;
  margin: 0;
}

.SettingsPage .SettingsArea {
  padding: 2% 5%;
  text-align: left;
}

.SettingsArea .SectionHeader {
  font-size: x-large;
  font-weight: 500;
  text-align: left;
  margin: 1% 0;
}

.SettingsArea .InputField {
  width: 35%;
  height: 15px;
  font-size: larger;
  border-radius: 8px;
  padding: 5px;
  margin: 10px 50% 10px 0;
  resize: none;
}

.SettingsPage .SaveArea {
  width: 100%;
  text-align: center;
  background-color: aqua;
  padding: 1% 0;
}

.SaveArea .SaveButton {
  width: 10%;
  font-size: large;
  background-color: blueviolet;
  aspect-ratio: 4;
  border-radius: 10px;
}