.App {
  text-align: center;
}

.TopBar {
  background-color: #4CAF50;
  height: 10%;
  font-size: large;
  margin: 0;
}

.TopBar p {
  margin: 0;
}

.MainPart {
  background-color: blue;
  height: 90%;
  margin: 0;
}

.textArea {
  width: 40%;
  height: 30%;
  margin: 2% 4%;
  border-radius: 10px;
  resize: none;
}

.LangSelector {
  width: 20%;
  margin: 1% 15%;
}

button {
  margin: 1%;
}